In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv')
pd.options.display.float_format = '{:,.1f}'.format

СОРТИРОВКА

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB
None

In [3]:
df['churn'] = df['churn'].astype('int64')

In [4]:
df.describe(include=['object', 'bool'])

       state phone number international plan voice mail plan
count   3333         3333               3333            3333
unique    51         3333                  2               2
top       WV     380-3910                 no              no
freq     106            1               3010            2411

In [5]:
df['churn'].value_counts()

0    2850
1     483
Name: churn, dtype: int64

In [6]:
df['area code'].value_counts(normalize=True)

415   0.5
510   0.3
408   0.3
Name: area code, dtype: float64

In [7]:
df.sort_values(by=['churn', 'total day charge'], ascending=[True, False]).head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
688,MN,13,510,338-7120,no,yes,21,315.6,105,53.6,...,71,17.8,260.1,123,11.7,12.1,3,3.3,3,0
2259,NC,210,415,363-7802,no,yes,31,313.8,87,53.4,...,103,12.6,192.7,97,8.7,10.1,7,2.7,3,0
534,LA,67,510,373-6784,no,no,0,310.4,97,52.8,...,123,5.7,246.5,99,11.1,9.2,10,2.5,4,0
575,SD,114,415,351-7369,no,yes,36,309.9,90,52.7,...,89,17.0,183.5,105,8.3,14.2,2,3.8,1,0
2858,AL,141,510,388-8583,no,yes,28,308.0,123,52.4,...,128,21.1,152.9,103,6.9,7.4,3,2.0,1,0

In [8]:
df[df['churn'] == 1].mean()

account length           102.7
area code                437.8
number vmail messages      5.1
total day minutes        206.9
total day calls          101.3
total day charge          35.2
total eve minutes        212.4
total eve calls          100.6
total eve charge          18.1
total night minutes      205.2
total night calls        100.4
total night charge         9.2
total intl minutes        10.7
total intl calls           4.2
total intl charge          2.9
customer service calls     2.2
churn                      1.0
dtype: float64

In [9]:
df[df['churn'] == 1]['total day minutes'].mean()

206.91407867494814

In [10]:
df[(df['churn'] == 0) & (df['international plan'] == 'no')]['total intl minutes'].mean()

10.185472972972955

In [11]:
df.loc[0:5, 'state':'area code']

  state  account length  area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510

In [12]:
filter_large = df['total day minutes'] > 300
loyal = df['churn'] == 0
df.loc[filter_large & loyal]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
534,LA,67,510,373-6784,no,no,0,310.4,97,52.8,...,123,5.7,246.5,99,11.1,9.2,10,2.5,4,0
575,SD,114,415,351-7369,no,yes,36,309.9,90,52.7,...,89,17.0,183.5,105,8.3,14.2,2,3.8,1,0
688,MN,13,510,338-7120,no,yes,21,315.6,105,53.6,...,71,17.8,260.1,123,11.7,12.1,3,3.3,3,0
732,IN,48,510,342-6696,no,no,0,300.4,94,51.1,...,103,11.3,197.4,94,8.9,7.2,5,1.9,2,0
1165,VT,50,415,387-5891,yes,yes,26,307.1,94,52.2,...,78,24.6,174.9,109,7.9,8.0,3,2.2,0,0
1355,TX,50,408,330-6436,no,yes,31,302.7,93,51.5,...,119,20.4,193.9,103,8.7,13.6,14,3.7,3,0
1830,CT,50,408,351-9037,no,no,0,301.7,82,51.3,...,118,14.2,72.2,89,3.2,10.5,6,2.8,1,0
2259,NC,210,415,363-7802,no,yes,31,313.8,87,53.4,...,103,12.6,192.7,97,8.7,10.1,7,2.7,3,0
2478,TN,123,415,415-3016,no,yes,34,305.2,80,51.9,...,109,13.3,280.0,81,12.6,13.2,7,3.6,1,0
2858,AL,141,510,388-8583,no,yes,28,308.0,123,52.4,...,128,21.1,152.9,103,6.9,7.4,3,2.0,1,0
3207,DC,93,408,345-1994,no,yes,22,306.2,123,52.0,...,83,16.1,240.3,107,10.8,11.7,2,3.2,0,0

In [13]:
df.query('total intl charge > 200 & churn == 1') #Не работает, хотя должно

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

In [14]:
df.iloc[0:5, 0:3]

  state  account length  area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415

In [ ]:
df[-1:]

ФУНКЦИИ

In [ ]:
df.apply(np.max)

In [15]:
d = {'no' : False, 'yes' : True}
df['international plan'] = df['international plan'].map(d)
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,False,yes,25,265.1,110,45.1,...,99,16.8,244.7,91,11.0,10.0,3,2.7,1,0
1,OH,107,415,371-7191,False,yes,26,161.6,123,27.5,...,103,16.6,254.4,103,11.4,13.7,3,3.7,1,0
2,NJ,137,415,358-1921,False,no,0,243.4,114,41.4,...,110,10.3,162.6,104,7.3,12.2,5,3.3,0,0
3,OH,84,408,375-9999,True,no,0,299.4,71,50.9,...,88,5.3,196.9,89,8.9,6.6,7,1.8,2,0
4,OK,75,415,330-6626,True,no,0,166.7,113,28.3,...,122,12.6,186.9,121,8.4,10.1,3,2.7,3,0

In [ ]:
df.replace({'voice mail plan':d}).head()

In [ ]:
z = {0 : True, 1 : False }
df.replace({'churn':z}).head()

ГРУППИРОВКА

In [ ]:
columns_to_show = ['total day minutes', 'total eve minutes', 'total night minutes']
df.groupby(['churn'])[columns_to_show].describe(percentiles =[])

In [ ]:
columns_to_show = ['total day minutes', 'total eve minutes', 'total night minutes']
df.groupby(['churn'])[columns_to_show].agg([np.mean, np.max, np.std, np.min])

In [ ]:
pd.crosstab(df['churn'], df['international plan'])

In [ ]:
pd.crosstab(df['churn'], df['voice mail plan'], normalize=True)

In [ ]:
df.pivot_table(['total day calls', 'total eve calls', 'total night calls'], ['area code'], aggfunc='mean').head(10)

In [ ]:
total_calls = df['total day calls'] + df['total eve calls'] + df['total night calls'] + df['total intl calls']
df.insert(loc=len(df.columns), column='total_calls', value=total_calls)
df.head()

In [ ]:
df['total charge'] = df['total day charge'] + df['total eve charge'] + df['total night charge'] + df['total intl charge']
df.head()

In [ ]:
df = df.drop(['total charge', 'total_calls'], axis=1) #минус столбцы(axis=1)

In [ ]:
df.drop([1, 2]).head()   #минус строки

In [ ]:
pd.crosstab(df['churn'], df['international plan'], margins=True)

In [ ]:
pd.crosstab(df['churn'], df['customer service calls'], margins=True)

In [ ]:
df['many_service_calls'] = (df['customer service calls'] > 3).astype('int')
pd.crosstab(df['many_service_calls'], df['churn'], margins=True)

In [ ]:
pd.crosstab(df['many_service_calls'] & df['international plan'], df['churn'])